.pagination{
  display: flex;
  height: 30px;
  align-items: center;
  width: 820px;
  justify-content: space-between;
  margin: 29px auto 0;
    color: #5A8FFF;
    font-weight:400;
}
.pagination button{
  display: flex;
  align-items: center;
    height: inherit;
    color:inherit;
    font-weight: 400;
}
.pagination li {
  width: 30px;
  height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination li a{
  color: inherit;
}
.active{
  background: rgba(90, 143, 255, 0.1);
  border-radius: 3px;
}
